[Unit]
Description = Transmit requests to Sōzu, consuming a pulsar topic
Documentation = https://github.com/cleverCloud/sozu-pulsar-connector
After = network-online.target local-fs.target remote-fs.target time-sync.target sozu.service
Requires = network-online.target local-fs.target remote-fs.target time-sync.target sozu.service

[Service]
Type=simple
ExecStart=/usr/bin/sozu-pulsar-connector --config /etc/sozu/connector/pulsar.toml
Restart=on-failure
# Since systemd 229, should be in [Unit] but in order to support systemd <229,
# it is also supported to have it here.
StartLimitInterval=10
StartLimitBurst=5

[Install]
WantedBy = multi-user.target